@charset "utf-8";
/* reset*/
html,body{ width:100%; padding:0; margin:0;}
p,a,div,form,input,ul,li,h1,h2,h3,h4,h5,span.em,b,img{padding:0; margin:0;}
li{list-style:none;}
img{ border:none;}
a{ text-decoration:none;}
form{border:none;outline:none;background-color:none;}
input{border:none;outline:none;}
em,b,strong{ font-style:normal;}

.clear{zoom:1;}
.clear:after{ content:""; clear:both; display:block;}
.fl{float:left;}
.fr{float:right;}

.bar, .nav , .banner ,.protect, .ad ,.main , .footer{ width:100%;}
.bar .wrap, .nav .wrap, .protect .warp{ width:1194px; margin:0 auto;}
.bar{ background-color:#f3f3f3; height:38px; position:relative;}
.nav{ height:86px; background-color:#ffffff;}
.banner{ height:462px; background-color:#eee;}
.protect{ height:292px; background-color:#ffffff;}
.ad{ height:222px; overflow:hidden;}
.mainbody_detail{ margin: 0 auto;margin-top: 80px; width:1206px; overflow: hidden; }
.mainbody_detail .de_left{ width:980px; margin-left: -8px; }

.footer{ background-color:#2c3339;height:262px; position:relative;}
.footer .footer_wrap{ width:950px; height:105px; position:absolute; left:0; right:0; bottom:77px; margin:auto;}

.bar .bar_title,.bar .bar_colse a{ font-size:12px; color:#404040; line-height:38px;}
.bar_title{ width:474px;}
.bar_title a{ color:#20a45b; padding-left:4px;}
.bar_colse { width:62px; padding-left:18px; background:url(images/tip_close.png) no-repeat -1px 13px;}

.nav .nav_logo{ position:relative;}
.nav_logo h1{ float:left; width:238px; height:22px; background:url(images/top_logo.png) no-repeat left center; margin-top:26px; text-indent:-9999px;}
.nav_logo .guanzhu{  float:left; margin-left:30px; position:relative; top:20px;}
.nav_logo .guanzhu a{ float:left; font-size:14px; font-family:"宋体"; width:50px; text-align:center; height:20px; line-height:20px; border-radius:2px; color:#646464padding:2px; cursor:pointer; margin-top:10px;}
.nav_logo a span{ font-size:10px; margin-left:8px;}
.nav_logo .guanzhu .active { margin-top:5px; width:54px; height:21px; background:url(images/top_little1-2.png)no-repeat center center; margin-right:5px; display: inline-block; margin-top: 10px; }

.nav_right{ position:relative; top:36px;}
.nav_right ul li{ float:left; margin-left:56px;}
.nav_right a{ color:#676767; font:16px "宋体";}
.nav_right a:hover{ text-decoration:underline;}
.nav_right .center{ margin:0 56px;}
.nav_right .search{ display:inline-block; width: 19px; height: 21px; background:url(images/top_little2.png)no-repeat -2px -3px; margin-left:-26px; }
.nav_right li:hover .search{ background-position: -24px -3px;}

#fader{position:relative;overflow:hidden;height:460px;width:100%;} 
#fader li{position:absolute;left:0;top:0;} 
#fader ul,li{list-style:none;margin:0;padding:0} 
#fader img{display:block;} 
.fader-nav{display:inline-block; margin-right:8px;color:#fff;width:10px; height:10px;background:#fff;border:1px solid #fff;font-family:Tahoma;font-weight:bold;font-size:12px;cursor:pointer; border-radius:50%; } 
.fader-cur-nav{display:inline-block;margin-right:8px;color:#fff;background:#000;border:1px solid #fff;font-family:Tahoma;font-weight:bold;font-size:12px;cursor:pointer;border-radius:50%; width:10px; height:10px;} 


.protect_col{ width:342px; height:178px; margin:60px 0; float:left; position:relative;}
.protect_col:nth-child(2){ margin:60px 80px;}
.protect_col .bg{ background:url(images/top_describe.png) no-repeat; width:80px; height:80px; margin-top:8px;}
.protect_col .col1{ background-position:-11px -10px;}
.protect_col .col2{ background-position:-110px  -10px;}
.protect_col .col3{ background-position:-206px -10px;}
.protect_col .protect_title{ width:242px; height:178px;}
.protect_col h2{ font-size:20px; font-family:"宋体"; color:#393939;}
.protect_col p{ line-height:24px; font-size:14px; color:#646464; margin-top:10px; margin-bottom:28px; font-family:"宋体";}
.protect_col a{ font-size:14px; color:#88c083; cursor:pointer; font-family:"宋体";}
.protect_col a:hover{ text-decoration:underline;}

.show_pic{ margin-left:-4px; margin-top:2px;}
.show_pic img{ float:left; padding-left:-4px; width:20%; height:220px; box-sizing: border-box;}

/*tab*/
.mainbody_detail .de_left .tab{ list-style: none; height: 50px; line-height: 50px;  margin-left: 10px; font:20px "微软雅黑"; color:#666; margin-bottom: 15px;}
.mainbody_detail .de_left .tab li{ width: 200px; height: 50px; line-height: 50px; display: inline-block; text-align: center; background: #fff; cursor: pointer;
box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.1);} 
.mainbody_detail .de_left .tab .choose{ color:#fff; background:#3aa030;}
/*tab结束*/

.de_left .tab_detail{ list-style: none; margin-left: 10px; height: 1220px; }
.de_left .tab_detail li{ background: #fff; width: 227px; height: 228px; float:left; margin:18px 15px 0 0px; position: relative; box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.1);}
.de_left .tab_detail li .course-img{width: 227px; height: 124px;}
.de_left .tab_detail .li_say{ padding:10px 12px;}
.de_left .tab_detail .li_say a{ display: block; width:100%; margin-bottom: 6px; text-decoration: none; font-size: 12px; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.de_left .tab_detail .li_say a:hover{ color:#39a030;}
.de_left .tab_detail .li_say p { font-size: 12px; font-family:"微软雅黑";  margin-bottom:6px;color:#d9d9d9;}
.de_left .tab_detail .tab_pic{ background:url(images/people.png)no-repeat 4px; display:inline-block;margin-bottom: 6px; padding: 1px 2px 1px 20px; color:#bbb;border:1px solid #ddd; border-radius: 2px; font-size:10px; }
.tab_detail .li_say .de_price{ color:#fe3b01; font-size: 10px; font-family:"微软雅黑"; }
.de_left .tab_detail .cover{ display: none; position: absolute; width: 468px;height: 227px; top: -10px; left: -11px;  background-color: #fff; z-index: 2; margin-left: 10px; padding: 10px 0 0 10px; box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.3);text-overflow: ellipsis;}
.tab_detail .cover .course-img{float: left;margin-right: 20px;}
.tab_detail .cover .cover-name{font-size: 18px; color:#2e2e2e;}
.tab_detail .cover .cover-student{ background:url(file:///D|/xampp/htdocs/163/images/people.png) no-repeat 243px 2px; padding-left: 258px; margin-top: 15px; }
.tab_detail .cover .cover-student, .tab_detail .cover .cover-provide, .tab_detail .cover .cover-category{ color:#666; padding-bottom: 10px;}
.tab_detail .cover-provide ,.tab_detail .cover-student ,.tab_detail .cover-category { font-size: 12px; font-family:"微软雅黑";}
.tab_detail .cover-student{ padding-left:15px; background:url(images/people.png) no-repeat 4px; }
.tab_detail .cover .cover-describe{ position: absolute; bottom: 0; overflow: auto; padding:20px 25px 25px 20px; height: 45px; margin-left: -10px; background: #f8f8f8;}
.tab_detail .cover .cover-describe-content{height:45px; color:#666; font-size: 13px; line-height: 20px;}

/*分页*/
.pageList{ float:right; margin:30px 20px 120px auto;}
.pageList span,.pageList .tab_foot .choose{ background: #9dd8b1;}
.pageList .tab_foot .choose{ color:#fff; }
.pageList span{ width: 30px; height: 20px; line-height: 20px; text-align: center; color:#fff;}
.pageList .tab_foot{ list-style: none;}
.pageList .tab_foot li,.pageList span,.pageList .tab_foot{ display: inline-block;}
.pageList .tab_foot li{ color:#666; width:20px; height: 20px; line-height: 20px; text-align: center; margin:0 5px 0 5px; }

.mainbody_detail .de_right{ width:225px; font-family: "微软雅黑";float:right; margin-left: -10px;}
.de_right .right_up{ height: 230px; border:1px solid #ddd; margin-bottom: 20px; margin-left: -2px; background: #fff; box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.1);}
.right_up h2{height: 55px; line-height: 55px; text-indent: 20px; font-size: 16px; color: #333; border-bottom: 1px solid #ddd; }
.right_up p{ font-size: 14px; color:#666; margin-top: 20px; margin-left: 22px; margin-bottom: 10px;}
.right_up img{ margin-left: 22px; cursor: pointer;}
.de_right .right_down{ background: #fff; margin-left: -2px; width: 225px; border: 1px solid #eee; height: 778px; box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.1);
}
.right_down h2{ color:#333; font-size: 16px; margin:0; height: 55px; line-height: 55px; text-indent: 20px; border-bottom: 1px solid #eee; }
.right_down ul{ list-style: none; margin:0; padding:0;}
.right_down ul li{ margin:20px; height: 50px; width: 185px;}
.right_down .li_left{float:left; width: 50px; height: 50px; }
.right_down ul li a{text-decoration: none; display: block; width:122px; margin: 0; margin-left: 60px; color:#333; font-size: 14px; text-overflow: ellipsis;overflow: hidden; white-space: nowrap; }
.right_down .li_right{background:url(file:///D|/xampp/htdocs/163/images/people.png) no-repeat; background-position: 5px 3px; color:#999; font-size: 11px; margin-left:14px;  margin-top: 12px; padding:1px 4px 1px 20px; display:inline-block; border:1px solid #ddd; }/*de_right结束*/


/*视频弹窗*/
.video_box { display: none; position: fixed; width: 950px; height: 676px; top:50%; left: 50%; transform: translate(-50%, -50%); z-index: 999; background: #fff;}
.video_box p{ font-size: 18px; color:#000; margin-top: 29px; margin-left: 35px;}
.video_box img{ position: absolute; top:20px; right:30px; cursor: pointer;}
.video_box video{ margin-left: 35px; margin-top: 5px; background:#000;}/*视频弹窗结束*/

/*遮罩*/
.bodyMask {display: none; position: fixed; width: 100%; height: 100%; background: #000; opacity: 0.8; filter:alpha(opacity=80); z-index: 99; padding:0; top:0;}

/*登陆弹窗*/
.login_window{ display: none; width:387px; height: 288px; position: fixed; left: 50%; top:50%; transform: translate(-50%, -50%); background: #fff; z-index: 999;font-family: "微软雅黑";}
.login_window img{ position: absolute; top:10px; right: 8px; cursor: pointer;}
.login_window legend{ font-size: 18px; color: #444; margin-top: 30px; margin-left: 40px; }
.login_window input{ display: block; margin-left: 40px;}
.login_window .input{ font-size:16px; background: #fafafa; width: 295px; height: 45px; padding-left: 15px; box-shadow: inset 2px 1px 2px 0px #ccc;}
.login_window .inputup, .login_window .inputdown{ margin-top: 15px;}
.login_window span{ font-size: 12px; margin-left: 50px; margin-top: 10px; color:#F0112C; display: none;}
.login_window .login_btn{ background:url(images/login_button.png) no-repeat -26px -25px; width: 298px; height: 48px; color:#fff; line-height: 48px; cursor: pointer; letter-spacing:2em; font-size: 18px; padding-left: 40px; margin:30px auto 0;}/*登陆弹窗结束*/

.footer .section ,.optipns , .op_sec{ height:105px;}
.footer .section{ width:398px;}
.footer .section h2{margin-top:-7px; text-indent:-6px;}
.footer .section p{ font-size:12px; font-family:"微软雅黑"; color:#abafb2; margin-bottom:10px;}
.footer .optipns{width:407px;}
.footer .optipns .op_sec{ float:left;color:#abafb2;}
.footer .optipns .op_sec:nth-child(2){ margin-left:95px; padding-right:70px}
.footer .optipns  h4{ font-size:14px; font-family:"微软雅黑";}
.footer .optipns a{ display:inline-block; margin-top:12px;font-size:14px; font-family:"宋体";color:#abafb2;;}
.footer  .optipns a:hover{ text-decoration:underline;}





